<div class="flex flex-col items-center">
    <h1 class="text-[80px] leading-none font-bold">404</h1>
    <p class="text-center">Page your are looking for Not Found</p>
    <a href="/" class="link">Home</a>
</div>