<h1>Contact Us</h1>
<form class="w-full flex flex-col space-y-2 mt-2">
    <div class="flex md:flex-row flex-col md:space-y-0 space-y-2 md:space-x-2 w-full">
        <input name="fullName" class="w-full md:!w-1/2" type="text" placeholder="Full Name">
        <input name="email" class="w-full md:!w-1/2" type="email" placeholder="Email">
    </div>
    <textarea name="message" cols="10" rows="6" placeholder="Message"></textarea>
    <span class="err"></span>
    <button type="submit" class="btn w-24" id="submitBtn">Submit</button>
</form>

<script type="module">
    import {sendForm} from './utils/sendForm.js';
    document.querySelector('form').addEventListener('submit', e => {
        sendForm(e, '/contactUs/sendMail')
    });
</script>