{{!-- {{!< layout}} --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../assets/styles/index.css">
    <title>{{ pageTitle }}</title>
</head>
<body class="w-full h-screen bg-red-400">
    <nav></nav>
    
</body>
{{!-- <script id="content-template" type="text/x-handlebars-template">
    <h3>{{title}} Page</h3>
    <ul>
        {{#each contentsArr}}
            <li>
                {{content}}
            </li>
        {{/each}}
    </ul>
</script> --}}
{{!-- <script type="text/javascript">
    let contentTemplate = document.querySelector('content-template').innerHTML;
    let template = Handlebars.complie(contentTemplate)
    let contents = template({
        title: 'Home',
        contents: [
            {content: 'Qui veniam amet consequat dolore reprehenderit exercitation consequat.'},
            {content: 'Qui veniam amet consequat dolore reprehenderit exercitation consequat.'},
            {content: 'Qui veniam amet consequat dolore reprehenderit exercitation consequat.'},
        ]
    })
    document.body.innerHTML += contents;
</script> --}}
</html>